*{
margin: 0px;
padding: 0px;
font-family: "Playwrite BE VLG", cursive;
}
.logo-img{
    width: 40px;
    height: 40px;
}
.cat-img img{
    aspect-ratio: 3/2;
    object-fit: cover;
}
.card img{
    aspect-ratio: 3/2;
    
}


.p1 {
  font-size: 45px;
  color: indianred;
  font-weight: bold;
}

.p2 {
  font-size: 35px;
  color: indianred;
  font-weight: bold;
}

.items-heading {
  font-size: 2.3rem;
  margin-left: 10px;
  margin-bottom: 20px;
}

#items {
  display: flex;
  overflow-x: scroll;
  height: 290px;
  overflow-y: hidden;
  margin-bottom: 15px;
  padding-bottom: 7px;
}


#items del,
span {
  font-size: 20px;
}

.span2 {
  color: green;
  margin-left: 8px;
}

#items img {
  width: 100%;
  height: 83%;
  margin-bottom: 10px;
}


.items1{
  margin-left: 6px;
  margin-right: 8px;
  box-shadow: 0px 2px 10px #a5a4a4;
  height: 100%;
  
  
 
}

.items2{
  box-shadow: 0px 2px 10px #a5a4a4;
  margin-right: 8px;
}
.items3{
  box-shadow: 0px 2px 10px #a5a4a4;
  margin-right: 8px;

}
.items4{
  box-shadow: 0px 2px 10px #a5a4a4;
  margin-right: 8px;

}
.items5{
  box-shadow: 0px 2px 10px #a5a4a4;
  margin-right: 8px;

}
.items6{
  box-shadow: 0px 2px 10px #a5a4a4;
  margin-right: 8px;

}
#items input[type="button"] {
  width: 300px;
  color: white;
  background: darkslategrey;
  font-size: 1.2rem;
}

#items input[type="button"]:hover {
  background-color: ghostwhite;
  color: darkslategrey;
  font-weight: bold;
}


.productdiv{
  padding-left: 160px;
}

@media only screen and (max-width:1286px){
  
    .productdiv{
        padding: 30px;
    }
  }

  @media only screen and (max-width:769px){
  
    .productdiv{
        padding-left: 30%;
    }
  }

  @media only screen and (max-width:450px){
  
    .productdiv{
        padding-left: 17%;
    }
  }

  @media only screen and (max-width:450px){
  
    .productdiv{
        padding-left: 15%;
    }
  }

